body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 110%;
    background-color: #bb9cea;
}
button{
    display: inline-block;
    margin: 10px;
    font-size: 105%;
    color:#000000;
    background-color: #dcde3a; 
    transition: background-color .1s;
    padding: 5px 5px;
    border-radius: 3px;
}
a {
    color: #563d7c;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: #8570a5;
  }
button:hover{
    background-color: #eeefb8;
}

#choices button{
   display: block;
    
}
input[type="text"]{
    font-size: 110%;
}
.hide{
    display: none;
}
.wrapper{
    margin: 120px auto 1px auto;
}

#start-screen{
    text-align: center;
    font-size: 110%;
}
#highscore{
    position: absolute;
    top: 15px;
    left: 15px;
}
#feedback{
    font-style: normal;
    font-size: 110%;
    padding-top: 12px;
    margin-top: 18px;
    color: #25006a;
}
#timeleft{
    display: flex;
    justify-content: right;
}